body{
    background-image: url(n.jpg);
    background-size: cover;
}
.nav{
    display: flex;
    justify-content: space-between;
}
ul{
     display: flex;

}
li{
    list-style: none;
    padding-right: 120;
}
.logo{
    background-color: white;
    border-radius: 30px;
    color: red;
}
h1{
margin-top: 18%; 
margin-left: 22%;
font-size:40;
text-shadow: 5px 5px red;
color: white;
}
p{
    margin-left: 35%;
    font-size: large;
    text-shadow: 1px 1px white;

}
input{
    color: blanchedalmond;
    height: 45;
    text-align: center;
    width: 320;
    font-size: large;
border-radius: 28px; 
opacity: 50%;
background-color:black;
border:none;
margin-left: 30;
}
li:hover{
    color: red;
}

textarea{
    width: 700;
    height: 110;
    
    color: blanchedalmond;
     text-align: center;
     font-size: x-large;
border-radius: 28px; 
opacity: 50%;
background-color:black;
border:none;
margin-left: 80;
 }
.show,
.hide{
    display: none;
}
.show{
    font-size: xx-large;
    margin-top: 30;
}
#chk{
    visibility: hidden;
}
   
@media screen and (max-width:800px) {
    body{
        background-image: url(n.jpg);
        width: 70%;
     }
    .show,.hide{
      display: block;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #333;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
      flex-direction: column;
      color: white;
    }
    .menu li{
      display: block;   
      padding: 20px;
    }
    .hide{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
  }
  
  
  
  
  
